POSTGRES_PASSWORD=SenhaForte123!
MOODLE_AUTO_INSTALL=true
MOODLE_FULLNAME=Mboepi Local
MOODLE_SHORTNAME=Mboepi
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=AdminForte123!
MOODLE_ADMIN_EMAIL=seuemail@exemplo.com
MOODLE_CRON_INTERVAL=60 
