{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_pay/course_detail/buttons

    Example context (json):
    {
      "builder_enable": false,
      "js": true,
      "modelos": [
        {
          "url": "https://moodle.example.com/local/kopere_pay/shopping/?id=123",
          "buttons": [
            "enroll-blue.png",
            "enroll-green.png",
            "enroll-black.png"
          ]
        }
      ],
      "default-image": "https://moodle.example.com/local/kopere_pay/none.png"
    }
}}

<fieldset>
    {{#str}}course_buttons_title, local_kopere_pay{{/str}}

    {{#modelos}}
        <div class="p-flex">
            {{#buttons}}
                <a class="link-area" href="#{{url}}">
                    <img src="{{{config.wwwroot}}}/local/kopere_pay/assets/matricule-se/{{{.}}}"
                         style="max-width:180px;"
                         class="mb-2" alt="Icon">
                </a>
            {{/buttons}}
        </div>
    {{/modelos}}

    <div class="show-area" style="display: none">

        <div>
            <h3 class="mt-3 mb-0">{{#str}}size_small, local_kopere_pay{{/str}}</h3>
            <div><img class="img-area-p" style="height:30px" src="{{default-image}}" alt="img"></div>

            <h4 class="mt-3 mb-0">{{#str}}sales_form, local_kopere_pay{{/str}}</h4>
            <pre id="copy-code-1" class="copy-code"></pre>

            {{#builder_enable}}
                <h4 class="mt-3 mb-0">{{#str}}sales_page, local_kopere_pay{{/str}}</h4>
                <pre id="copy-code-12" class="copy-code"></pre>
            {{/builder_enable}}
        </div>

        <div>
            <h3 class="mt-3 mb-0">{{#str}}size_medium, local_kopere_pay{{/str}}</h3>
            <div><img class="img-area-m" style="height:50px" src="{{default-image}}"  alt="img"></div>

            <h4 class="mt-3 mb-0">{{#str}}sales_form, local_kopere_pay{{/str}}</h4>
            <pre id="copy-code-2" class="copy-code"></pre>

            {{#builder_enable}}
                <h4 class="mt-3 mb-0">{{#str}}sales_page, local_kopere_pay{{/str}}</h4>
                <pre id="copy-code-22" class="copy-code"></pre>
            {{/builder_enable}}
        </div>

        <div>
            <h3 class="mt-3 mb-0">{{#str}}size_large, local_kopere_pay{{/str}}</h3>
            <div><img class="img-area-g" style="height:70px" src="{{default-image}}" alt="img"></div>

            <h4 class="mt-3 mb-0">{{#str}}sales_form, local_kopere_pay{{/str}}</h4>
            <pre id="copy-code-3" class="copy-code"></pre>

            {{#builder_enable}}
                <h4 class="mt-3 mb-0">{{#str}}sales_page, local_kopere_pay{{/str}}</h4>
                <pre id="copy-code-32" class="copy-code"></pre>
            {{/builder_enable}}
        </div>
    </div>
</fieldset>
