{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_pay/course_detail/form-enrollment

    Example context (json):
    {
      "builder_enable": false,
      "url_enrollment": "https://moodle.example.com/local/kopere_pay/shopping/?id=123",
      "url_page": "https://moodle.example.com/local/kopere_pay/shopping/?id=123"
    }
}}

<fieldset>
    {{#builder_enable}}
        <h3 class="mb-0">{{#str}}sales_page, local_kopere_pay{{/str}}</h3>
        <p><a href="{{{url_page}}}" target="_blank">{{{url_page}}}</a></p>
    {{/builder_enable}}

    <h3 class="mb-0">{{#str}}enrollment_with_form, local_kopere_pay{{/str}}</h3>
    <p><a href="{{{url_enrollment}}}" target="_blank">{{{url_enrollment}}}</a></p>
</fieldset>
