{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_pay/not-theme

    Example context (json):
    {
      "theme_boost_magnific": "",
      "theme_degrade": "theme_degrade"
    }
}}

<div class="alert alert-warning">
    <i class="fa fa-exclamation-circle"></i>
    <p>{{#str}}theme_warning_intro_text, local_kopere_pay{{/str}}
        <a href="https://moodle.org/plugins/theme_boost_magnific" target="_blank">Boost Magnific</a> e
        <a href="https://moodle.org/plugins/theme_degrade" target="_blank">Degrade</a>.
    </p>

    <p>{{#str}}theme_warning_effect_text, local_kopere_pay{{/str}}
        <strong>{{#str}}enrolment_options, local_kopere_pay{{/str}}</strong>, {{#str}}
            theme_warning_effect_suffix_text, local_kopere_pay{{/str}}
    </p>

    {{#theme_boost_magnific}}
        <p>
            ➡️
            <a href="{{{config.wwwroot}}}/admin/index.php?installaddonrequest={{theme_boost_magnific}}"
            class="btn btn-info">{{#str}}theme_install_boost_magnific, local_kopere_pay{{/str}}</a> |
            <a href="{{{config.wwwroot}}}/admin/index.php?installaddonrequest={{theme_degrade}}"
            class="btn btn-info">{{#str}}theme_install_degrade, local_kopere_pay{{/str}}</a>
        </p>
    {{/theme_boost_magnific}}
</div>
