{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_pay/shopping/notfound

    Example context (json):
    {
      "message": "The item you’re looking for could not be found, or it may no longer be available."
    }
}}

<div class="kopere_dashboard-card text-center page404">
    <h2>{{#str}}oops_title, local_kopere_pay{{/str}}</h2>

    <div class="alert alert-danger">{{{message}}}</div>

    <p>
        <a href="#" onclick="window.history.back();return false;" class="btn btn-primary">
            {{#str}}back, core{{/str}}
        </a>
    </p>
</div>
